@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');

$headings-font-family: 'Roboto', sans-serif;
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.825rem;
$navbar-padding-x: 0.5rem;
$navbar-padding-y: 0.3rem;
$headings-font-weight: 700;

// Then include the following
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
// @import 'font-awesome/css/font-awesome.min.css';

.icon {
  height: 16px;
}
