<template>
  <div class="border p-2 mb-2 bg-light">
    <h2 class="h6 mt-2">{{ label }}</h2>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'Card',
  props: {
    label: {
      type: String,
      default: ''
    }
  }
}
</script>
