<template>
  <div>
    <my-line-chart :chart-data="chartData" :options="options" />
  </div>
</template>

<script>
export default {
  name: 'Chart',
  props: {
    symbol: {
      type: String,
      default: undefined
    },
    interval: {
      type: String,
      default: undefined
    },
    size: {
      type: Number,
      default: 60
    },
    orders: {
      type: Array,
      default: null
    }
  },
  data() {
    return {
      ticks: [],
      chartData: {},
      timeout: null,
      options: {
        responsive: true,
        maintainAspectRatio: false,
        aspectRatio: 10,
        scales: {
          xAxes: [
            {
              type: 'time',
              time: {
                displayFormats: {
                  second: 'HH:mm:ss',
                  minute: 'HH:mm',
                  hour: 'HH:mm',
                  day: 'DD.MM'
                }
              }
            }
          ]
        }
      }
    }
  },
  watch: {
    size() {
      this.fillData()
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.getData()
      this.startChart()
    })
  },
  beforeDestroy() {
    clearInterval(this.timeout)
  },
  methods: {
    startChart() {
      this.timeout = setTimeout(() => {
        this.getData()
        this.startChart()
      }, this.getRefreshRate())
    },
    getRefreshRate() {
      switch (this.interval) {
        case '1m':
          return 20000
        case '3m':
          return 31000
        case '5m':
          return 46000
        case '1M':
          return 300000000
        default:
          return 60000
      }
    },
    async getData() {
      const response = await this.makeRequest('/api/price/candle-stick', {
        params: {
          symbol: this.symbol,
          interval: this.interval,
          limit: this.size
        }
      })
      if (typeof response.candleTicks !== 'undefined') {
        this.ticks = response.candleTicks
        this.fillData()
      }
    },
    fillData() {
      if (this.ticks.length === 0) {
        this.chartData = {}
      }

      this.chartData = {
        labels: this.ticks
          .map((value) => {
            return new Date(value.closeTime)
          })
          .filter((value, index, array) => {
            return index > array.length - this.size
          }),
        datasets: [
          {
            label: 'high',
            backgroundColor: '#28a745',
            fill: '1',
            data: this.ticks
              .map((value) => {
                return {
                  x: new Date(value.closeTime),
                  y: value.high
                }
              })
              .filter((value, index, array) => {
                return index > array.length - this.size
              })
          },
          {
            label: this.interval + ' ' + this.symbol,
            backgroundColor: '#000',
            fill: '0',
            data: this.ticks
              .map((value) => {
                return {
                  x: new Date(value.closeTime),
                  y: value.close
                }
              })
              .filter((value, index, array) => {
                return index > array.length - this.size
              })
          },
          {
            label: 'low',
            backgroundColor: '#dc3545',
            fill: '-1',
            data: this.ticks
              .map((value) => {
                return {
                  x: new Date(value.closeTime),
                  y: value.low
                }
              })
              .filter((value, index, array) => {
                return index > array.length - this.size
              })
          },
          {
            label: 'orders',
            backgroundColor: '#6f42c1',
            showLine: false,
            data: this.orders
          }
        ]
      }
    }
  }
}
</script>
