<template>
  <section>
    <b-form-checkbox-group
      id="tickerFilter"
      v-model="ticker"
      :options="tickerOptions"
      name="tickers"
    />
    <b-form-input v-model="size" size="sm" class="mt-1" type="number" />
    <b-form-input
      v-model="size"
      size="sm"
      class="mt-1"
      type="range"
      min="5"
      max="500"
    />
    <div v-for="interval in tickerOrdered" :key="interval" class="m-2">
      <Chart :interval="interval" :symbol="symbol" :size="(size * 10) / 10" />
    </div>
  </section>
</template>

<script>
import Chart from './Chart'

export default {
  name: 'Charts',
  components: { Chart },
  props: {
    symbol: {
      type: String,
      default: undefined
    }
  },
  data() {
    return {
      ticker: ['1m', '5m', '1h'],
      size: 60,
      tickers: [
        '1m',
        '3m',
        '5m',
        '15m',
        '30m',
        '1h',
        '2h',
        '4h',
        '6h',
        '8h',
        '12h',
        '1d',
        '3d',
        '1w',
        '1M'
      ]
    }
  },
  computed: {
    tickerOptions() {
      return this.tickers.map((value) => {
        return { text: value, value }
      })
    },
    tickerOrdered() {
      const selected = this.ticker
      return this.tickers.filter((ticker) => {
        return selected.includes(ticker)
      })
    }
  }
}
</script>

<style lang="scss">
#tickerFilter {
  .custom-control-label {
    width: 40px;
  }
}
</style>
