<template>
  <section>
    <div v-if="info">
      <Row label="symbol">{{ info.symbol }}</Row>
      <Row
        label="status"
        :variant="info.status === 'TRADING' ? 'success' : 'danger'"
        >{{ info.status }}</Row
      >
      <Row label="min notation"
        >{{ info.minNotation }} {{ info.quoteAsset }}</Row
      >
      <Row label="order types"
        ><ul class="list-unstyled">
          <li v-for="orderType in info.orderTypes" :key="orderType">
            {{ orderType }}
          </li>
        </ul>
      </Row>
    </div>
    <hr />
    <b-btn size="sm" @click="getData">
      <Spinner v-if="isSubmitted" />
      <span v-else>refresh</span>
    </b-btn>
  </section>
</template>

<script>
import Spinner from './Spinner'
import Row from './Row'
export default {
  name: 'ExchangeInfo',
  components: { Row, Spinner },
  filters: {
    pretty(value) {
      return JSON.stringify(value, null, 2)
    }
  },
  props: {
    symbol: {
      type: String,
      default: undefined
    }
  },
  data() {
    return {
      info: ''
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.getData()
    })
  },
  methods: {
    async getData() {
      this.info = ''
      this.info = await this.makeRequest('/api/exchange/info', {
        params: { symbol: this.symbol }
      })
    }
  }
}
</script>
