<template>
  <section>
    <div v-if="data">
      <Row
        label="new trade"
        :variant="data.open === true ? 'success' : 'danger'"
        >{{ data.open === true ? 'yes' : 'no' }} - {{ data.openMsg }}</Row
      >
      <Row label="price">{{ data.price }}</Row>
      <Row label="max buy target price">
        {{ data.maxBuyPrice }}
      </Row>
      <Row label="min sell target price">
        {{ data.minSellPrice }}
      </Row>
      <hr />
      <h2 class="h6">candle ticks</h2>
      <Row label="close avg">
        {{ data.candleTickData.closeAvg }}
      </Row>
      <Row
        label="trend"
        :variant="data.candleTickData.trend > 0 ? 'success' : 'danger'"
      >
        {{ data.candleTickData.trend }}
        <ul class="list-unstyled">
          <li
            v-for="(value, index) in data.candleTickData.trendArr"
            :key="index"
            :class="value >= 0 ? 'text-success' : 'text-danger'"
          >
            {{ value }}
          </li>
        </ul>
      </Row>
      <Row
        label="close percent"
        :variant="data.candleTickData.closePercent > 0 ? 'success' : 'danger'"
      >
        {{ data.candleTickData.closePercent }}%
        <ul class="list-unstyled">
          <li
            v-for="(value, index) in data.candleTickData.closePercentArr"
            :key="index"
            :class="value >= 0 ? 'text-success' : 'text-danger'"
          >
            {{ value }}%
          </li>
        </ul>
      </Row>
      <Row label="spread">
        {{ data.candleTickData.spread }}
      </Row>
      <Row label="min">
        {{ data.candleTickData.min }}
      </Row>
      <Row label="max">
        {{ data.candleTickData.max }}
      </Row>
      <hr />
      <h2 class="h6">possible order</h2>
      <Row
        label="side"
        :variant="data.order.side === 'BUY' ? 'success' : 'danger'"
      >
        {{ data.order.side }}
      </Row>
      <Row label="open price">
        {{ data.order.openPrice }}
      </Row>
      <Row label="target price">
        {{ data.order.targetPrice }}
      </Row>
      <Row label="spread">
        {{ data.order.targetPrice - data.order.openPrice }}
      </Row>
      <Row label="open amount">
        {{ data.order.openAmount }}
      </Row>
      <Row label="target amount">
        {{ data.order.targetAmount }}
      </Row>
      <Row label="profit">
        {{ data.order.profit }} {{ data.order.profitCurrency }}
      </Row>
      <Row label="fees">
        {{ data.order.fees }}
      </Row>
      <hr />
      <h2 class="h6">prev day</h2>
      <Row label="open price">
        {{ data.prevDay.openPrice }}
      </Row>
      <Row
        label="price change"
        :variant="data.prevDay.priceChange > 0 ? 'success' : 'danger'"
      >
        {{ data.prevDay.priceChange }} ({{ data.prevDay.priceChangePercent }}%)
      </Row>
      <Row label="weighted avg price">
        {{ data.prevDay.weightedAvgPrice }}
      </Row>
      <Row label="high">
        {{ data.prevDay.highPrice }}
      </Row>
      <Row label="low">
        {{ data.prevDay.lowPrice }}
      </Row>
      <hr />
      <h2 class="h6">fear and greed</h2>
      <Row
        label="index"
        :variant="data.fearAndGreed > 50 ? 'success' : 'danger'"
      >
        {{ data.fearAndGreed }} {{ data.fearAndGreedName }}
      </Row>
      <Row label="last day">
        {{ data.fearAndGreedChange }}
      </Row>
    </div>
    <hr />
    <b-btn size="sm" @click="getData">
      <Spinner v-if="isSubmitted" />
      <span v-else>refresh</span>
    </b-btn>
  </section>
</template>

<script>
import Spinner from './Spinner'
import Row from './Row'

export default {
  name: 'Market',
  components: { Row, Spinner },
  props: {
    bot: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      data: ''
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.getData()
    })
  },
  methods: {
    async getData() {
      this.data = await this.makeRequest('/api/market', {
        params: { id: this.bot.id }
      })
    }
  }
}
</script>
