<template>
  <b-navbar id="main-nav" toggleable="sm" type="dark" variant="dark">
    <b-navbar-brand to="/" class="mr-2"><strong>LaiLa</strong></b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-form @submit.prevent="create">
          <b-form-input
            v-model="symbol"
            size="sm"
            class="mt-2 mt-sm-0"
            placeholder="new..."
          ></b-form-input>
        </b-form>
      </b-navbar-nav>
      <b-navbar-nav>
        <b-nav-item
          v-for="bot in bots"
          :key="bot.id"
          :to="{ name: 'bot', query: { id: bot.id } }"
          >{{ bot.symbol }}</b-nav-item
        >
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-item @click="logout()">
          logout
        </b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
export default {
  name: 'Navbar',
  data() {
    return {
      symbol: '',
      bots: []
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.getBots()
    })
  },
  methods: {
    async create() {
      await this.makeRequest(
        '/api/laila',
        { symbol: this.symbol },
        this.$axios.$post
      )
      this.symbol = ''
      this.getBots()
    },
    async getBots() {
      this.bots = await this.makeRequest('api/laila')
    },
    async logout() {
      await this.$auth.logout()
      this.$router.push('login')
    }
  }
}
</script>

<style scoped>
input {
  width: 85px;
}
svg {
  fill: rgba(255, 255, 255, 0.75);
}
</style>
