<template>
  <b-alert v-if="notification.message" :variant="variant">
    {{ message }}
  </b-alert>
</template>

<script>
export default {
  name: 'Notification',
  props: {
    notification: {
      type: Object,
      default() {
        return { message: null }
      }
    }
  },
  computed: {
    message() {
      return this.notification.message
    },
    variant() {
      if (typeof this.notification.variant !== 'undefined') {
        return this.notification.variant
      }
      return 'danger'
    }
  }
}
</script>
