<template>
  <section v-if="data !== null">
    <div class="mb-3">
      <Row label="orders"> {{ data.openOrders }} / {{ data.total }} </Row>
      <Row label="profit base">
        {{ data.baseAssetProfit }} {{ data.baseAsset }}
      </Row>
      <Row label="profit quote">
        {{ data.quoteAssetProfit }} {{ data.quoteAsset }}
      </Row>
      <Row label="fees"> {{ data.fees }} {{ data.baseAsset }} </Row>
    </div>
    <b-table :items="data.orders" :fields="fields" small />
  </section>
</template>

<script>
import Row from './Row'

export default {
  name: 'Orders',
  components: { Row },
  props: {
    bot: {
      type: Object,
      default: undefined
    }
  },
  data() {
    return {
      data: null,
      timeout: null,
      fields: [
        {
          key: 'id',
          sortable: true,
          label: 'id'
        },
        {
          key: 'createdAt',
          sortable: true,
          label: 'created',
          formatter: this.formatTime
        },
        {
          key: 'side',
          sortable: true,
          label: 'side'
        },
        {
          key: 'openPrice',
          sortable: true,
          label: 'open'
        },
        {
          key: 'targetPrice',
          sortable: true,
          label: 'target'
        },
        {
          key: 'openAmount',
          sortable: true,
          label: 'amount'
        },
        {
          key: 'profit',
          sortable: true,
          label: 'profit'
        },
        {
          key: 'status',
          sortable: true,
          label: 'status',
          formatter: this.getStatus
        },
        {
          key: 'demoMode',
          sortable: true,
          label: 'demo'
        }
      ]
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.getData()
      this.startInterval()
    })
  },
  beforeDestroy() {
    clearInterval(this.timeout)
  },
  methods: {
    startInterval() {
      this.timeout = setTimeout(() => {
        this.getData()
        this.startInterval()
      }, 30000)
    },
    async getData() {
      this.data = await this.makeRequest('/api/order/list', {
        params: { id: this.bot.id }
      })
    },
    getStatus(status) {
      switch (status) {
        case 0:
          return 'created'
        case 10:
          return 'w_open'
        case 20:
          return 'open'
        case 30:
          return 'w_close'
        case 40:
          return 'sleep'
        case -10:
          return 'closed'
        case -20:
          return 'canceled'
      }
    }
  }
}
</script>
