<template>
  <b-row>
    <b-col sm="6" class="text-left text-sm-right">
      {{ label }}
    </b-col>
    <b-col sm="6" class="">
      <strong :class="'text-' + variant"><slot></slot></strong>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: 'Row',
  props: {
    label: {
      type: String,
      default: ''
    },
    variant: {
      type: String,
      default: 'default'
    }
  }
}
</script>
