<template>
  <section>
    <b-button @click="toggleRunner">
      <span v-if="run === true">Stop</span>
      <span v-else>Start</span>
    </b-button>
  </section>
</template>

<script>
export default {
  name: 'Runner',
  props: {
    bot: {
      type: Object,
      default: undefined
    }
  },
  data() {
    return {
      run: false,
      timeout: null
    }
  },
  beforeDestroy() {
    clearInterval(this.timeout)
  },
  methods: {
    toggleRunner() {
      this.run === false ? this.startInterval() : clearInterval(this.timeout)
      this.run = !this.run
    },
    startInterval() {
      this.timeout = setTimeout(() => {
        this.getData()
        this.startInterval()
      }, 30000)
    },
    async getData() {
      await this.makeRequest('/api/order/check', {
        params: { id: this.bot.id }
      })
    }
  }
}
</script>
