<template>
  <div>
    <Navbar />
    <div class="m-2">
      <nuxt />
    </div>
  </div>
</template>
<script>
import Navbar from '../components/Navbar'
export default {
  components: { Navbar }
}
</script>
