<template>
  <section>
    <b-row v-if="bot != null" class="no-gutters">
      <b-col cols="12" sm="6" class="pr-sm-2 mb-2">
        <Card label="orders">
          <Orders :bot="bot" />
        </Card>
        <Card label="runner">
          <Runner :bot="bot" />
        </Card>
        <Card label="config">
          <LailaForm :bot="bot" />
        </Card>
        <Card label="exchange">
          <ExchangeInfo :symbol="bot.symbol" />
        </Card>
      </b-col>
      <b-col cols="12" sm="6">
        <Card label="market">
          <Market :bot="bot" />
        </Card>
        <Card label="charts">
          <Charts :symbol="bot.symbol" />
        </Card>
      </b-col>
    </b-row>
  </section>
</template>

<script>
import LailaForm from '../components/forms/LailaForm'
import ExchangeInfo from '../components/ExchangeInfo'
import Orders from '../components/Orders'
import Charts from '../components/Charts'
import Card from '../components/Card'
import Market from '../components/Market'
import Runner from '../components/Runner'
export default {
  name: 'Bot',
  components: { Runner, Market, Card, Charts, Orders, ExchangeInfo, LailaForm },
  data() {
    return {
      bot: null,
      id: this.$route.query.id
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.getBot()
    })
  },
  watchQuery(newQuery) {
    this.id = newQuery.id
    this.getBot()
  },
  methods: {
    async getBot() {
      this.bot = await this.makeRequest('/api/laila/detail', {
        params: { id: this.id }
      })
    }
  }
}
</script>
