<template>
  <section class="container">
    <LoginForm />
  </section>
</template>
<script>
import LoginForm from '../components/forms/LoginForm'
export default {
  name: 'Login',
  components: {
    LoginForm
  }
}
</script>
