<template>
  <b-button :class="classCss" type="submit" variant="secondary" size="sm">
    <span v-if="submitted"><Spinner :small="true"/></span>
    <span v-else>{{ caption }}</span>
  </b-button>
</template>

<script>
import Spinner from '../Spinner'
export default {
  name: 'FormSubmitButton',
  components: { Spinner },
  props: {
    caption: {
      type: String,
      default: 'save'
    },
    submitted: {
      type: Boolean,
      default: false
    },
    classCss: {
      type: String,
      default: ''
    }
  }
}
</script>
