<template>
  <b-row class="mt-1 no-gutters">
    <b-col cols="12" sm="6" md="6" class="text-sm-right pr-sm-2 pt-1">{{
      label
    }}</b-col>
    <b-col cols="12" sm="6" md="6">
      <slot />
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: 'FormRow',
  props: {
    label: {
      type: String,
      default: null
    }
  }
}
</script>
