<template>
  <b-row>
    <b-col :md="col">
      <b-form-group>
        <b-input
          :id="id"
          v-model="val"
          :type="type"
          :required="required"
          :disabled="disabled"
          :placeholder="label"
          :class="classCss"
          :state="getFieldState(id)"
          :size="size"
          @input="update"
        />
        <label :for="id" :class="labelClass">{{ label }}</label>
        <b-form-invalid-feedback :state="getFieldState(id)">
          {{ getFieldMessage(id) }}
        </b-form-invalid-feedback>
      </b-form-group>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: 'FormInput',
  props: {
    col: {
      type: Number,
      default: 12
    },
    size: {
      type: String,
      default: ''
    },
    id: {
      type: String,
      default: 'foo'
    },
    value: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'text'
    },
    required: {
      type: Boolean,
      default: true
    },
    disabled: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: ''
    },
    classCss: {
      type: String,
      default: ''
    },
    labelClass: {
      type: String,
      default: 'sr-only'
    },
    state: {
      type: Boolean,
      default: false
    },
    error: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      val: this.value,
      restError: this.error
    }
  },
  watch: {
    error(newVal) {
      this.restError = newVal
    }
  },
  methods: {
    update() {
      this.$emit('input', this.val)
    }
  }
}
</script>
