<template>
  <b-form class="form-signin" @submit.prevent="save">
    <Notification :notification="restError" />
    <FormRow label="running">
      <b-form-checkbox
        v-model="form.config.running"
        switch
        size="sm"
        class="pt-1"
      />
    </FormRow>
    <FormRow label="demo">
      <b-form-checkbox
        v-model="form.config.demoMode"
        switch
        size="sm"
        class="pt-1"
      />
    </FormRow>
    <FormRow label="open new orders">
      <b-form-checkbox
        v-model="form.config.openNewOrders"
        switch
        size="sm"
        class="pt-1"
      />
    </FormRow>
    <FormRow label="claim left side">
      <b-form-checkbox
        v-model="form.config.claimLeftSide"
        switch
        size="sm"
        class="pt-1"
      />
    </FormRow>
    <FormRow label="trend">
      <b-form-select
        v-model="form.config.trend"
        :options="trendOptions"
        size="sm"
      />
    </FormRow>
    <hr />
    <FormRow label="analyze interval">
      <b-form-input
        v-model="form.config.analyzeInterval"
        type="text"
        size="sm"
      />
    </FormRow>
    <FormRow label="analyze ticks">
      <b-form-input v-model="form.config.analyzeTicks" type="text" size="sm" />
    </FormRow>
    <FormRow label="protected zone up">
      <b-form-input
        v-model="form.config.protectedZoneUp"
        type="text"
        size="sm"
      />
    </FormRow>
    <FormRow label="protected zone down">
      <b-form-input
        v-model="form.config.protectedZoneDown"
        type="text"
        size="sm"
      />
    </FormRow>
    <hr />
    <FormRow label="order amount">
      <b-form-input v-model="form.config.orderAmount" type="text" size="sm" />
    </FormRow>
    <FormRow label="order amount precision">
      <b-form-input
        v-model="form.config.orderAmountPrecision"
        type="text"
        size="sm"
      />
    </FormRow>
    <FormRow label="use min order amount">
      <b-form-checkbox
        v-model="form.config.useMinOrderAmount"
        switch
        size="sm"
        class="pt-1"
      />
    </FormRow>
    <FormRow label="fees">
      <b-form-input v-model="form.config.fees" type="text" size="sm" />
    </FormRow>
    <FormRow label="take profit percentage">
      <b-form-input
        v-model="form.config.takeProfitPercentage"
        type="text"
        size="sm"
      />
    </FormRow>
    <FormRow label="active order count">
      <b-form-input
        v-model="form.config.activeOrderCount"
        type="text"
        size="sm"
      />
    </FormRow>
    <FormRow label="new order shift percentage">
      <b-form-input
        v-model="form.config.newOrderShiftPercentage"
        type="text"
        size="sm"
      />
    </FormRow>
    <FormRow label="new order max wait time to shift">
      <b-form-input
        v-model="form.config.newOrderMaxWaitTimeToShift"
        type="text"
        size="sm"
      />
    </FormRow>
    <FormRow>
      <FormSubmitButton caption="save" :submitted="isSubmitted" />
    </FormRow>
  </b-form>
</template>
<script>
import Notification from '../Notification'
import FormRow from './FormRow'
import FormSubmitButton from './FormSubmitButton'

export default {
  name: 'LailaForm',
  components: { FormSubmitButton, FormRow, Notification },
  props: {
    bot: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      form: {
        id: this.bot.id,
        config: {
          id: this.bot.config.id,
          running: this.bot.config.running,
          demoMode: this.bot.config.demoMode,
          openNewOrders: this.bot.config.openNewOrders,
          claimLeftSide: this.bot.config.claimLeftSide,
          trend: this.bot.config.trend,
          analyzeInterval: this.bot.config.analyzeInterval,
          analyzeTicks: this.bot.config.analyzeTicks,
          protectedZoneUp: this.bot.config.protectedZoneUp,
          protectedZoneDown: this.bot.config.protectedZoneDown,
          orderAmount: this.bot.config.orderAmount,
          orderAmountPrecision: this.bot.config.orderAmountPrecision,
          useMinOrderAmount: this.bot.config.useMinOrderAmount,
          fees: this.bot.config.fees,
          takeProfitPercentage: this.bot.config.takeProfitPercentage,
          activeOrderCount: this.bot.config.activeOrderCount,
          newOrderShiftPercentage: this.bot.config.newOrderShiftPercentage,
          newOrderMaxWaitTimeToShift: this.bot.config.newOrderMaxWaitTimeToShift
        }
      },
      trendOptions: [
        {
          text: 'Downtrend',
          value: -1
        },
        {
          text: 'Neutral',
          value: 0
        },
        {
          text: 'Uptrend',
          value: 1
        }
      ]
    }
  },
  methods: {
    async save() {
      await this.makeRequest('/api/laila', this.form, this.$axios.$patch)
    }
  }
}
</script>
