<template>
  <b-form class="form-signin mt-4" @submit="login">
    <Notification :notification="restError" />
    <FormInput
      id="email"
      v-model="form.email"
      :error="restError"
      type="email"
      label="email"
      size="sm"
    />
    <FormInput
      id="plainPassword"
      v-model="form.plainPassword"
      :error="restError"
      label="password"
      type="password"
      size="sm"
    />
    <FormSubmitButton :submitted="isSubmitted" caption="login" />
  </b-form>
</template>
<script>
import Notification from '../Notification'
import FormInput from './FormInput'
import FormSubmitButton from './FormSubmitButton'
export default {
  name: 'LoginForm',
  components: { FormSubmitButton, Notification, FormInput },
  data() {
    return {
      form: {
        email: '',
        plainPassword: ''
      }
    }
  },
  methods: {
    async login(evt) {
      evt.preventDefault()
      if (this.isSubmitted === true) {
        return
      }
      this.restError = {}
      this.isSubmitted = true
      this.$nuxt.$loading.start()
      try {
        await this.$auth.loginWith('local', {
          data: {
            username: this.form.email,
            password: this.form.plainPassword
          }
        })
        this.$router.push('/')
      } catch (e) {
        this.handleError(e)
      } finally {
        this.isSubmitted = false
        this.$nuxt.$loading.finish()
      }
    }
  }
}
</script>
<style scoped lang="scss">
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
</style>
